<div style="text-align: center">
    <h1  style="margin-top: 2%;margin-bottom: 1%;"><b>Pull requests</b></h1>
    </div>
<mat-accordion > 
    
    <mat-expansion-panel *ngFor="let req of pullReqs" (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title  >
          {{req.name}} 
        </mat-panel-title>
        <button style="margin-right: 6%;" (click)= "proba()">Edit</button>
      <!--  <mat-panel-description>
          Currently I am {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description> -->
      </mat-expansion-panel-header>
      <button *ngFor="let issue of req.issues" (click)= "proba()" style='margin-right:16px'>{{issue.title}}</button> 
    
    </mat-expansion-panel>
  </mat-accordion>
