
<br><br>
<body>
    <mat-spinner *ngIf="loading"></mat-spinner>
    <form class="reactiveForm" [formGroup]="form"  class="form-inline my-2 my-lg-0" *ngIf="!loading">
        <div class="example-container" style="margin-left: 50px;">
            <table class="styled-table">
                <thead>
                <tr>         
                    <th colspan="3">Create new repository</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >
                        <mat-form-field appearance="fill">
                            <mat-label>Repository name</mat-label>
                            <input matInput formControlName="name"  required>
                            <mat-error *ngIf="form.controls.name.touched && form.controls.name.invalid">
                                <span *ngIf="form.controls.name.errors?.required">This field is mandatory.</span>
                            </mat-error>
                        </mat-form-field>
                    </td>
                    <td style="text-align: right;">
                        <mat-dialog-actions>
                            <button mat-button color="warn" (click)="cancel()" >
                                <mat-icon aria-hidden="false" aria-label="Example home icon">clear</mat-icon>
                            </button>
                            
                        </mat-dialog-actions>
                    </td>
                    
                    <td>
                        <mat-dialog-actions>
                            <button  type="submit" mat-button color="primary"  id="saveNewResort"(click)="addNewRepo()" style="margin-left: 45px;">
                                <mat-icon aria-hidden="false" aria-label="Example home icon">checked</mat-icon>
                            </button>
                        </mat-dialog-actions>

                    </td>
                 
                   
                </tr>     
            </tbody>
            </table>
            <br><br>
            
        <br><br>
        </div>
    </form>
</body>