.material-icons.mat-icon {
    vertical-align:middle;
    font-size: 25pt;
    align-content :center;
    color:black;
}
.mat-button {
    font-size: 12pt;
    margin: 18px;
}
.flexSpaceBetween {
    justify-content: space-between;
}
