<br><br>

<body>
  <mat-spinner *ngIf="loading"></mat-spinner>
  <form class="reactiveForm" [formGroup]="form" class="form-inline my-2 my-lg-0" *ngIf="!loading">
    <div class="example-container" style="margin-left: 50px;">
      <table class="styled-table">
        <thead>
          <tr>
            <th>Edit event</th>
            <th style="text-align: right; width: fit-content;">
              <mat-dialog-actions>
                <button mat-raised-button (click)="cancel()">
                  <mat-icon aria-hidden="false" aria-label="Example home icon">clear</mat-icon>
                </button>
                <button type="submit" mat-raised-button color="success" id="saveNewResort" (click)="saveChanges()"
                  style="margin-left: 15px;">
                  <mat-icon aria-hidden="false" aria-label="Example home icon">checked</mat-icon>
                </button>
              </mat-dialog-actions>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <mat-form-field appearance="fill">
                <mat-label>Creation time</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="creationTime">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </td>
            <td></td>
          </tr>
          <!--
          <tr>
            <td>
              <mat-form-field appearance="fill">
                <mat-label>Task</mat-label>
                <input matInput formControlName="task" required>
                <mat-error *ngIf="form.controls.task.touched && form.controls.task.invalid">
                  <span *ngIf="form.controls.task.errors?.required">This field is mandatory.</span>
                </mat-error>
              </mat-form-field>
            </td>
            <td></td>
          </tr>
          -->
        </tbody>
      </table>
      <br><br>
      <br><br>
    </div>
  </form>
</body>
