<br><br>
<div style="margin-left: 20px;">
  <br>
  <table class="styled-table">
    <thead>
      <tr>
        <th></th>
        <h1>All Events</h1>
      </tr>
      <tr>
        <th>Creation time</th>
        <th>Task</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events">
        <td>{{event.creationTime | date}}</td>
        <td>Task {{event.task?.id}} by {{event.task?.creator?.username}} </td>
      </tr>
      <tr>
    </tbody>
  </table>

  <br><br>

  <table class="styled-table">

    <tbody>
      <tr>
        <th>Go to Comments</th>
        <th><button mat-raised-button (click)="goToComments()">Comments</button></th>
      </tr>
      <tr>
        <th>Go to Label Applications</th>
        <th><button mat-raised-button (click)="goToLabelApplications()">Label Applications</button></th>
      </tr>
      <tr>
        <th>Go to State Changes</th>
        <th><button mat-raised-button (click)="goToStateChanges()">State Changes</button></th>
      </tr>
    </tbody>
  </table>
</div>
