
<br><br>
<body>
    <mat-spinner *ngIf="loading"></mat-spinner>
    <form class="reactiveForm" [formGroup]="form"  class="form-inline my-2 my-lg-0" *ngIf="!loading">
        <div class="example-container" style="margin-left: 50px;">
            <table class="styled-table">
                <thead>
                <tr>         
                    <th>New task</th>
                    <th style="text-align: right; width: fit-content;">
                        <mat-dialog-actions>
                            <button mat-raised-button (click)="cancel()" >
                                <mat-icon aria-hidden="false" aria-label="Example home icon">clear</mat-icon>
                            </button>
                            <button  type="submit" mat-raised-button color="success"  id="saveNewResort"(click)="saveChanges()" style="margin-left: 15px;">
                                <mat-icon aria-hidden="false" aria-label="Example home icon">checked</mat-icon>
                            </button>
                        </mat-dialog-actions>
                    </th>
                </tr>
            </thead>
            <tbody>
                  <tr>
                    <td> 
                      <mat-form-field appearance="fill">
                        <mat-label>Milestone</mat-label>
                        <mat-select id="milestone" [(value)]="selectedMilestone" (valueChange)="onSelection($event)" >
                            <mat-option  *ngFor="let milestone of milestones" id="milestone{{milestone.id}}" [value]="milestone">
                                {{milestone.title}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    </td>
                    
                </tr>     
            </tbody>
            </table>
            <br><br>
            
        <br><br>
        </div>
    </form>
</body>