<div style="margin-left: 20px">
  <br />
  <table class="styled-table">
    <thead>
      <tr>
        <th>Milestones</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><button mat-raised-button (click)="addNew()">Add new</button></th>
      </tr>
      <tr>
        <th>Title</th>
        <th>Due date</th>
        <th>Description</th>
        <th>State</th>
        <th>Edit milestone</th>
        <th>Delete milestone</th>
        <!-- <th  *ngIf="role == 'ROLE_ADMIN'">Delete label</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mil of milestones">
        <td>{{ mil.title }}</td>
        <!-- <td>{{res.seasonStarts | date}}</td> -->
        <td>{{ mil.dueDate | date }}</td>
        <td>{{ mil.description }}</td>
        <td>{{ mil.state }}</td>
        <td>
          <button mat-stroked-button (click)="edit(mil.id)">Edit</button>
        </td>
        <td>
          <button mat-stroked-button color="warn" (click)="delete(mil.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
