
<br><br>
<body>
    <mat-spinner *ngIf="loading"></mat-spinner>
    <form class="reactiveForm" [formGroup]="form"  class="form-inline my-2 my-lg-0" *ngIf="!loading">
        <div class="example-container" style="margin-left: 50px;">
            <table class="styled-table">
                <thead>
                <tr>         
                    <th>Edit label</th>
                    <th style="text-align: right; width: fit-content;">
                        <mat-dialog-actions>
                            <button mat-raised-button (click)="cancel()" >
                                <mat-icon aria-hidden="false" aria-label="Example home icon">clear</mat-icon>
                            </button>
                            <button  type="submit" mat-raised-button color="success"  (click)="saveChanges()" style="margin-left: 15px;">
                                <mat-icon aria-hidden="false" aria-label="Example home icon">checked</mat-icon>
                            </button>
                        </mat-dialog-actions>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="name"  required>
                            <mat-error *ngIf="form.controls.name.touched && form.controls.name.invalid">
                                <span *ngIf="form.controls.name.errors?.required">This field is mandatory.</span>
                            </mat-error>
                        </mat-form-field>
                    </td>
                 
                    <!-- <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Label App</mat-label>
                            <mat-select id="labelApp" [(value)]="selected" (valueChange)="onSelection($event)" >
                                <mat-option  *ngFor="let app of applications" id="app{{app.id}}" [value]="app">
                                    {{app.id}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td> -->
                    <td>

                    </td>
                </tr>     
            </tbody>
            </table>
            <br><br>
            
        <br><br>
        </div>
    </form>

    <br><br>
    <div style="margin-left: 20px;">
        <br>
        <table class="styled-table">
            <thead>
            <tr>         
                <th>HISTORY</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let h of history">
                <td>{{h.comment}}</td>
                
             </tr>
        </tbody>
    
        </table>
        
    </div>
</body>