
<br><br>
<body>
    <mat-spinner *ngIf="loading"></mat-spinner>
    <form class="reactiveForm" [formGroup]="form"  class="form-inline my-2 my-lg-0" *ngIf="!loading">
        <div class="example-container" style="margin-left: 50px;">
            <table class="styled-table">
                <thead>
                <tr>         
                    <th>Add new project</th>
                    <th style="text-align: right;">
                        <mat-dialog-actions>
                            <button mat-raised-button (click)="cancel()" >
                                <mat-icon aria-hidden="false" aria-label="Example home icon">clear</mat-icon>
                            </button>
                            <button  type="submit" mat-raised-button color="success" (click)="saveChanges()" style="margin-left: 15px;">
                                <mat-icon aria-hidden="false" aria-label="Example home icon">checked</mat-icon>
                            </button>
                        </mat-dialog-actions>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Title</mat-label>
                            <input matInput formControlName="title"  required>
                            <mat-error *ngIf="form.controls.title.touched && form.controls.title.invalid">
                                <span *ngIf="form.controls.title.errors?.required">This field is mandatory.</span>
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>     
            </tbody>
            </table>
        </div>
    </form>
</body>